{% extends "base.html" %}

{% block title %}

	Create training plan

{% endblock %}



{% block content %}
  <h2>Trainig plan for 2019</h2>
  <br>
  <a href="{{ url_for('plan') }}"><button type="button" class="btn btn-primary">Cancel and back to training plan</button></a>
  <br>
  <form action="{{ url_for('create_plan') }}" method='POST'> 
  <br>
  <b>Input planned TSS:</b> 
        <table class="table table-striped" style="width: 50%">
          <thead>
            <tr>
              <th scope="col" align="center"># </th>
              <th scope="col" align="center">Value</th>
              <th scope="col" align="center">Phase</th>
            </tr>
          </thead>
          <tbody>
        
            <tr>
              <th scope="row" align="center">{{ form.startdate.label }}</th>
              <td align="center">  {{ form.startdate() }} </td>
              <td align="center">  </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek0.label }}</th>
              <td align="center">  {{ form.tssplanweek0() }} </td>
              <td align="center"> {{ form.weekphase0() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek1.label }}</th>
              <td align="center">  {{ form.tssplanweek1() }} </td>
              <td align="center"> {{ form.weekphase1() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek2.label }}</th>
              <td align="center">  {{ form.tssplanweek2() }} </td>
              <td align="center"> {{ form.weekphase2() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek3.label }}</th>
              <td align="center">  {{ form.tssplanweek3() }} </td>
              <td align="center"> {{ form.weekphase3() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek4.label }}</th>
              <td align="center">  {{ form.tssplanweek4() }} </td>
              <td align="center"> {{ form.weekphase4() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek5.label }}</th>
              <td align="center">  {{ form.tssplanweek5() }} </td>
              <td align="center"> {{ form.weekphase5() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek6.label }}</th>
              <td align="center">  {{ form.tssplanweek6() }} </td>
              <td align="center"> {{ form.weekphase6() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek7.label }}</th>
              <td align="center">  {{ form.tssplanweek7() }} </td>
              <td align="center"> {{ form.weekphase7() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek8.label }}</th>
              <td align="center">  {{ form.tssplanweek8() }} </td>
              <td align="center"> {{ form.weekphase8() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek9.label }}</th>
              <td align="center">  {{ form.tssplanweek9() }} </td>
              <td align="center"> {{ form.weekphase9() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek10.label }}</th>
              <td align="center">  {{ form.tssplanweek10() }} </td>
              <td align="center"> {{ form.weekphase10() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek11.label }}</th>
              <td align="center">  {{ form.tssplanweek11() }} </td>
              <td align="center"> {{ form.weekphase11() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek12.label }}</th>
              <td align="center">  {{ form.tssplanweek12() }} </td>
              <td align="center"> {{ form.weekphase12() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek13.label }}</th>
              <td align="center">  {{ form.tssplanweek13() }} </td>
              <td align="center"> {{ form.weekphase13() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek14.label }}</th>
              <td align="center">  {{ form.tssplanweek14() }} </td>
              <td align="center"> {{ form.weekphase14() }} </td>
            </tr>
        
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek15.label }}</th>
              <td align="center">  {{ form.tssplanweek15() }} </td>
              <td align="center"> {{ form.weekphase15() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek16.label }}</th>
              <td align="center">  {{ form.tssplanweek16() }} </td>
              <td align="center"> {{ form.weekphase16() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek17.label }}</th>
              <td align="center">  {{ form.tssplanweek17() }} </td>
              <td align="center"> {{ form.weekphase17() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek18.label }}</th>
              <td align="center">  {{ form.tssplanweek18() }} </td>
              <td align="center"> {{ form.weekphase18() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek19.label }}</th>
              <td align="center">  {{ form.tssplanweek19() }} </td>
              <td align="center"> {{ form.weekphase19() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek20.label }}</th>
              <td align="center">  {{ form.tssplanweek20() }} </td>
              <td align="center"> {{ form.weekphase20() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek21.label }}</th>
              <td align="center">  {{ form.tssplanweek21() }} </td>
              <td align="center"> {{ form.weekphase21() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek22.label }}</th>
              <td align="center">  {{ form.tssplanweek22() }} </td>
              <td align="center"> {{ form.weekphase22() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek23.label }}</th>
              <td align="center">  {{ form.tssplanweek23() }} </td>
              <td align="center"> {{ form.weekphase23() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek24.label }}</th>
              <td align="center">  {{ form.tssplanweek24() }} </td>
              <td align="center"> {{ form.weekphase24() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek25.label }}</th>
              <td align="center">  {{ form.tssplanweek25() }} </td>
              <td align="center"> {{ form.weekphase25() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek26.label }}</th>
              <td align="center">  {{ form.tssplanweek26() }} </td>
              <td align="center"> {{ form.weekphase26() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek27.label }}</th>
              <td align="center">  {{ form.tssplanweek27() }} </td>
              <td align="center"> {{ form.weekphase27() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek28.label }}</th>
              <td align="center">  {{ form.tssplanweek28() }} </td>
              <td align="center"> {{ form.weekphase28() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek29.label }}</th>
              <td align="center">  {{ form.tssplanweek29() }} </td>
              <td align="center"> {{ form.weekphase29() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek30.label }}</th>
              <td align="center">  {{ form.tssplanweek30() }} </td>
              <td align="center"> {{ form.weekphase30() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek31.label }}</th>
              <td align="center">  {{ form.tssplanweek31() }} </td>
              <td align="center"> {{ form.weekphase31() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek32.label }}</th>
              <td align="center">  {{ form.tssplanweek32() }} </td>
              <td align="center"> {{ form.weekphase32() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek33.label }}</th>
              <td align="center">  {{ form.tssplanweek33() }} </td>
              <td align="center"> {{ form.weekphase33() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek34.label }}</th>
              <td align="center">  {{ form.tssplanweek34() }} </td>
              <td align="center"> {{ form.weekphase34() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek35.label }}</th>
              <td align="center">  {{ form.tssplanweek35() }} </td>
              <td align="center"> {{ form.weekphase35() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek36.label }}</th>
              <td align="center">  {{ form.tssplanweek36() }} </td>
              <td align="center"> {{ form.weekphase36() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek37.label }}</th>
              <td align="center">  {{ form.tssplanweek37() }} </td>
              <td align="center"> {{ form.weekphase37() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek38.label }}</th>
              <td align="center">  {{ form.tssplanweek38() }} </td>
              <td align="center"> {{ form.weekphase38() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek39.label }}</th>
              <td align="center">  {{ form.tssplanweek39() }} </td>
              <td align="center"> {{ form.weekphase39() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek40.label }}</th>
              <td align="center">  {{ form.tssplanweek40() }} </td>
              <td align="center"> {{ form.weekphase40() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek41.label }}</th>
              <td align="center">  {{ form.tssplanweek41() }} </td>
              <td align="center"> {{ form.weekphase41() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek42.label }}</th>
              <td align="center">  {{ form.tssplanweek42() }} </td>
              <td align="center"> {{ form.weekphase42() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek43.label }}</th>
              <td align="center">  {{ form.tssplanweek43() }} </td>
              <td align="center"> {{ form.weekphase43() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek44.label }}</th>
              <td align="center">  {{ form.tssplanweek44() }} </td>
              <td align="center"> {{ form.weekphase44() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek45.label }}</th>
              <td align="center">  {{ form.tssplanweek45() }} </td>
              <td align="center"> {{ form.weekphase45() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek46.label }}</th>
              <td align="center">  {{ form.tssplanweek46() }} </td>
              <td align="center"> {{ form.weekphase46() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek47.label }}</th>
              <td align="center">  {{ form.tssplanweek47() }} </td>
              <td align="center"> {{ form.weekphase47() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek48.label }}</th>
              <td align="center">  {{ form.tssplanweek48() }} </td>
              <td align="center"> {{ form.weekphase48() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek49.label }}</th>
              <td align="center">  {{ form.tssplanweek49() }} </td>
              <td align="center"> {{ form.weekphase49() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek50.label }}</th>
              <td align="center">  {{ form.tssplanweek50() }} </td>
              <td align="center"> {{ form.weekphase50() }} </td>
            </tr>
            <tr>
              <th scope="row" align="center">{{ form.tssplanweek51.label }}</th>
              <td align="center">  {{ form.tssplanweek51() }} </td>
              <td align="center"> {{ form.weekphase51() }} </td>
            </tr>
          </tbody>
        </table>
  <button type="submit" class="btn btn-warning">Reset old and create new training plan</button>
  </form>

  		

{% endblock %}
