{% extends "base.html" %}

{% block title %}

	Training plan

{% endblock %}



{% block content %}
  <h2>Trainig plan for 2019</h2>
  <br>
  		
        <table class="table table-striped" style="width: 50%">
          <thead>
            <tr>
              <th scope="col" align="center"># of Week</th>
              <th scope="col">Starting date</th>
              <th scope="col">Planned TSS</th>
              <th scope="col">Completed TSS</th>
            </tr>
          </thead>
          <tbody>
        
        {% for m in n  %}     
            <tr>
              <th scope="row" align="center">{{ m.Week  }}</th>
              <td align="center">{{  m.Date  }}</td>
              <td align="center">{{ m.TSSplan  }}</td>
              <td align="center">{{ m.TSScompl  }}</td>
            </tr>
        {%    endfor %}    
       
          </tbody>
        </table>
        <a href="{{ url_for('create_plan') }}"><button type="button" class="btn btn-primary">Create new training plan</button></a>


  		

{% endblock %}
