{% extends "base.html" %}

{% block title %}

Training plan 2019

{% endblock %}



{% block content %}
  <h2>Training plan 2019</h2>
  <br>
  		
        <table class="table table-striped" style="width: 50%">
          <thead>
            <tr>
              <th scope="col" align="center"># of Week</th>
              <th scope="col">Starting date</th>
              <th scope="col">Planned TSS</th>
              <th scope="col">Completed TSS</th>
            </tr>
          </thead>
          <tbody>
        
        {% for m in n: %}   
                {% if 0 < (d - m.Date).days < 7: %}
                   <tr class="table-primary">
                {% else: %}
                   <tr>
                {% endif %}

            
              <th scope="row" align="center">{{ m.Week  }}</th>
              <td align="center">{{  m.Date  }}</td>
              <td align="center">{{ m.TSSplan  }}</td>
              <td align="center">{{ m.TSScompl  }}</td>
            </tr>
        {% endfor %}    
       
          </tbody>
        </table>
        <a href="{{ url_for('create_plan') }}"><button type="button" class="btn btn-primary">Create new training plan</button></a>


  		

{% endblock %}
